:root {
  --darkgrey: #2F2F2E;
  --lightgrey: #dadada;
  --turqoise: #BBE6E4;
  --aqua: #42BFDD;
  --darkblue: #0074d3;
}

h1 {
  color: var(--lightgrey);
}

a {
  text-decoration: none;
  color: var(--darkblue);
}

a:hover {
  text-decoration: underline;
}

.App {
  text-align: center;
  background-color: var(--darkgrey);
  height: 100vh;
  border-radius: 0.5%;
}

.logo {
  height: 40vmin;
  pointer-events: none;
}

.header h1 {
  margin: 0;
  color: var(--lightgrey);
  font-size: 48pt;
}

.flexContainer {
  display:flex;

}

.aside {
  flex-grow: 4;
  color: var(--lightgrey);
}

.body {
  margin: 5vh;
  margin-left: 0;
  margin-right: 1vh;
  height: 75vh;
  width: 10vh;
  flex-grow: 4;
  background-color: var(--aqua);
  border-radius: 1%;
}

.body img {
    width: 70vh;
    margin-top: 2.5vh;
}

.body h1 {
  margin: 0;
  width: 10vw;
  margin-left: 44%;
}

.footer h5 {
  margin: 0.5vh;
  color: var(--lightgrey)
}
